body {
	word-wrap: break-word;
  	overflow-wrap: break-word;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.section {
	padding: 50px 0;
	width: 100%;
}

.section h3	{
	margin: 0 auto 30px auto;
	padding-bottom: 10px;
	border-bottom: 2px solid #6bd3b8;
	display: inline-block;
}

.landing {
	color: #fff;
	padding: 65px 0;
	text-align: center;
	background: linear-gradient(
      rgba(84, 57, 119, 0.5),
      rgba(84, 57, 119, 0.5)
    ),
    url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.landing h1 {
	font-size: 3.2em;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

.landing pre {
	text-align: left;
	font-size: 0.9em;
	color: #eee;
}

.landing code {
	background-color: #333;
	white-space: pre-wrap;
}

@media (min-width: 750px) {
	.landing h1 {
		font-size: 6.5em;
		font-weight: bold;
		font-family: 'Playfair Display', serif;
	}
	.landing pre {
		text-align: left;
		font-size: 1.4em;
		color: #eee;
	}
}

.button {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: none;
	border-radius: 2px;
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	transition: all 250ms;
}

.button:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type="submit"].button-primary,
.button.button-primary {
	background-color: #6bd3b8;
	border: none;
	border-radius: 2px;
}

input[type="submit"].button-primary:hover,
.button.button-primary:hover {
	background-color: #6bd3b8;
    border-color: #6bd3b8;
}

#about {
	background-color: #eee;
}

#generate p {
	margin-bottom: 10px;
}

#generate input {
	margin-bottom: 25px;
}

#generate input:focus {
	border: 1.5px solid #6bd3b8;
}

#share {
	text-align: center;
	background-color: #eee;
}

#share .button.button-primary {
	background-color: #1da1f2;
}

#share p {
    margin-top: 20px;
    font-size: 12px;
}
