---
layout: default
index: true
active: 1
directive_tags:
    Required: is-danger
    Optional: is-success
    Only 1 allowed: is-info
directives:
    Contact:
        tags: ['Required']
        help: >
            A link or e-mail address for people to contact you about security issues. Remember to include "https://"
            for URLs, and "mailto:" for e-mails.
        placeholder: mailto:security@example.com
        spec: 3
        id: contact
    Encryption:
        tags: ['Optional']
        help: A link to a key which security researchers should use to securely talk to you. Remember to include "https://".
        placeholder: https://example.com/pgp-key.txt
        spec: 4
        id: encryption
    Acknowledgments:
        tags: ['Optional']
        help: >
            A link to a web page where you say thank you to security researchers who have helped you. Remember
            to include "https://".
        placeholder: https://example.com/hall-of-fame.html
        spec: 1
        id: acknowledgments
    Preferred-Languages:
        tags: ['Optional', 'Only 1 allowed']
        help: >
            A comma-separated list of language codes that your security team speaks. <strong>You may include more
            than one language</strong>.
        placeholder: en, es, ru
        spec: 7
        id: preferredLanguages
    Canonical:
        tags: ['Optional', 'Only 1 allowed']
        help: >
            The most common URL for accessing your security.txt file. It is important to include this if you are
            digitally signing the security.txt file, so that researchers can know for sure that you didn't just steal
            someone else's file with the same content.
        placeholder: https://example.com/.well-known/security.txt
        spec: 2
        id: canonical
    Policy:
        tags: ['Optional']
        help: >
            A link to a policy detailing what security researchers should do when searching for or reporting security
            issues. Remember to include "https://".
        placeholder: https://example.com/security-policy.html
        spec: 6
        id: policy
    Hiring:
        tags: ['Optional']
        help: A link to any security-related job openings in your organisation. Remember to include "https://".
        placeholder: https://example.com/jobs.html
        spec: 5
        id: hiring
---

<div id="txt-notification">
    <div class="notification is-success is-pulled">
        <button onclick="removeNotification()" class="delete"></button>
        <h1>Your security.txt file has been copied to your clipboard!</h1>
    </div>
</div>

<section class="section">
    <div class="container">
        <h1 class="title">Summary</h1>
        <p>
            “When security risks in web services are discovered by independent security
            researchers who understand the severity of the risk, they often lack the
            channels to disclose them properly. As a result, security issues may be left
            unreported. security.txt defines a standard to help organizations define the
            process for security researchers to disclose security vulnerabilities securely.”
        </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Step 1</h1>
        <p>Create a text file called <code>security.txt</code> under the <code>.well-known</code> directory of your project.</p>
        <br>
        <form id="genform">
            {% for directive in page.directives %}
                {% assign directive_name = directive[0] %}
                {% assign directive_info = directive[1] %}
                <fieldset class="box" id="{{directive_info.id}}">
                    <legend class="label">
                        {{ directive_name }}
                        {% for tag in directive_info.tags %}
                            <span class="tag {{ page.directive_tags[tag] }}">{{ tag }}</span>
                        {% endfor %}
                    </legend>
                    <p class="help">
                        {{ directive_info.help }} See 
                        <a target="_blank" rel="noopener" 
                           href="https://tools.ietf.org/html/draft-foudil-securitytxt#section-3.5.{{directive_info.spec}}">
                            the full description of {{ directive_name }}
                        </a>
                    </p>
                    <ul class="list-of-inputs">
                        <li class="field">
                            <div class="control">
                                <input class="input" placeholder="{{ directive_info.placeholder }}"
                                       {% if directive_info.tags contains 'Required' %} required {% endif %}
                                >
                            </div>
                        </li>
                    </ul>
                    <div class="field">
                        <div class="control">
                            <button type="button" class="button" onclick="addAlternative(this)"
                                {% if directive_info.tags contains 'Only 1 allowed' %} disabled {% endif %}
                            >
                                Add another alternative
                            </button>
                        </div>
                    </div>
                </fieldset>
            {% endfor %}
           <input class="button is-success" type="submit" value="Generate security.txt file">
        </form>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Step 2</h1>
        <p>You are ready to go! Publish your security.txt file. If you want to give security researchers confidence that your security.txt file is authentic, and not planted by an attacker, consider <a target="_blank" rel="noopener" href="https://tools.ietf.org/html/draft-foudil-securitytxt-05#section-3.4">digitally signing</a> the file with an OpenPGP cleartext signature.</p>
        <textarea id="text-to-copy" class="copy" readonly></textarea>
    </div>
</section>

<section class="section">
    <div class="container content">
        <h1 class="title">Frequently asked questions</h1>
        <h5>What is the main purpose of security.txt?</h5>
        <p>The main purpose of security.txt is to help make things easier for companies and security researchers when trying to secure platforms. Thanks to security.txt, security researchers can easily get in touch with companies about security issues.</p>
        <h5>Is security.txt an <a href="https://en.wikipedia.org/wiki/Request_for_Comments">RFC</a>?</h5>
        <p>security.txt is currently an Internet draft that has been submitted for RFC review. This means that security.txt is still in the early stages of development. We welcome contributions from the public: <a href="https://github.com/securitytxt/security-txt">https://github.com/securitytxt/security-txt</a></p>
        <h5>Where should I put the security.txt file?</h5>
        <p>The security.txt file should be placed under the <code>/.well-known/</code> path (<code>/.well-known/security.txt</code>) [RFC5785].</p>
        <h5>Will adding an email address expose me to spam bots?</h5>
        <p>The email value is an optional field. If you are worried about spam, you can set a URI as the value and link to your security policy.</p>
    </div>
</section>

<section class="section is-medium">
    <div class="container content has-text-centered is-fluid">
        <h1 class="title">Spread the word</h1>
        <a target="_blank" class="button is-info" href="https://twitter.com/intent/tweet?text=security.txt%20-%20A%20proposed%20standard%20that%20allows%20websites%20to%20define%20security%20policies.%20https%3A%2F%2Fsecuritytxt.org%2F">Share on Twitter 📣 🎉 ⚡️ 🔥</a>
    </div>
</section>

<script src="{{ "/js/genform.js" | relative_url }}"></script>
