<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title != null %}{{ page.title }} - {% endif %}security.txt: Proposed standard for defining security policies</title>
    <link rel="shortcut icon" type="image/png" href="https://user-images.githubusercontent.com/18099289/154252650-65d5df12-aac9-47a3-aca0-5bc626e886d7.png"/>
    <!-- Search Engine -->
    <meta name="description" content="A proposed standard that allows websites to define security policies.">
    <meta name="image" content="https://user-images.githubusercontent.com/18099289/154252650-65d5df12-aac9-47a3-aca0-5bc626e886d7.png">
    <meta name="keywords" content="security.txt, txt, proposed standard, ietf, security, security policy, generator, security.txt file, text file">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="security.txt">
    <meta itemprop="description" content="A proposed standard that allows websites to define security policies.">
    <meta itemprop="image" content="https://user-images.githubusercontent.com/18099289/154252650-65d5df12-aac9-47a3-aca0-5bc626e886d7.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="security.txt">
    <meta name="twitter:description" content="A proposed standard that allows websites to define security policies.">
    <meta name="twitter:site" content="@securitytxt">
    <meta name="twitter:creator" content="@EdOverflow">
    <meta name="twitter:image:src" content="https://user-images.githubusercontent.com/18099289/154252650-65d5df12-aac9-47a3-aca0-5bc626e886d7.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="security.txt">
    <meta name="og:description" content="A proposed standard that allows websites to define security policies.">
    <meta name="og:image" content="https://user-images.githubusercontent.com/18099289/154252650-65d5df12-aac9-47a3-aca0-5bc626e886d7.png">
    <meta name="og:url" content="https://securitytxt.org/">
    <meta name="og:site_name" content="security.txt">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ "/css/stylesheet.css" | relative_url }}?v={{ site.time | date: "%s" }}">
    <script type='application/ld+json'> 
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "security.txt",
      "url": "https://securitytxt.org/"
    }
     </script>
</head>
<body {% if page.index != null %}class="index"{% endif %}>
    <div id="wrapper">
        <section class="hero is-small is-light">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a href="{{baseurl}}/"><h1 class="navbar-item title">security.txt</h1></a>
                            <a role="button" class="navbar-burger" aria-label="menu">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-start"></div>
                            <div class="navbar-end">
                                <a href="{{ "/" | relative_url }}" class="navbar-item{% if page.active == 1 %} is-active{% endif %}">Home</a>
                                <a href="{{ "/projects" | relative_url }}" class="navbar-item{% if page.active == 2 %} is-active{% endif %}">Projects</a>
                                <a href="{{ "/contact" | relative_url }}" class="navbar-item{% if page.active == 3 %} is-active{% endif %}">Contact us</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            {% if page.index != null %}
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            security.txt
                        </h1>
                        <h2 class="subtitle">
                            A proposed standard which allows websites to define security policies.
                        </h2>
                        <div class="buttons is-centered">
                            <a class="button is-primary" href="https://www.rfc-editor.org/rfc/rfc9116">Read
                        the RFC &#8594;</a>
                            <a class="button" href="https://securitytxt.org/.well-known/security.txt">See it in action &#8594;</a>
                        </div>
                    </div>
                    <br>
                    <div class="container has-text-centered">
                        <a href="https://twitter.com/securitytxt">@securitytxt</a> created by <a href="https://www.linkedin.com/in/edoverflow/">EdOverflow</a> and
                        <a href="https://twitter.com/nightwatchcyber">Yakov
                            Shafranovich</a>
                    </div>
                </div>
                <div class="hero-foot">
                    <nav class="tabs">
                        <div class="container">
                            <img src="https://user-images.githubusercontent.com/18099289/77641182-eb620c80-6f5b-11ea-9be5-02639c94b141.png" alt="">
                        </div>
                    </nav>
                </div>
            {% endif %}
        </section>
        {{ content }}
    </div>
    <script>
        document.querySelector('.navbar-burger').addEventListener('click', function(e) {
            e.target.classList.toggle('is-active');
            document.querySelector('.navbar-menu').classList.toggle('is-active');
        });
    </script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
